.add {
    margin-top: 30px;
}

.input {
    width: 220px;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.success {
    color: #077107;
    text-transform: uppercase;
    font-size: 10px;
}

button {
    width: 240px;
    margin: 10px 0;
    background: transparent;
    border: 1px solid #555555;
    padding: 10px 40px;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background: #000;
    color: #fff;
}
